@font-face {
    font-family: 'LazyDog';
    src: url('fonts/lazy_dog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #FFF8E1; /* Light pastel yellow/cream */
    font-family: 'LazyDog', Arial, sans-serif;
    color: #333;
    padding: 20px;
    margin: 0;
}

.section {
    background-color: #cdeff0; /* Light pastel blue */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
